/* QR SECTION */

.section-app {
  padding: 9.6rem 0;
}
.container {
  padding: 0 9.6rem;
  display: grid;
  gap: 6.4rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.form-container {
  /* justify-self: end; */
  display: flex;
  justify-content: flex-end;
}

.form-container label {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 500;
}

.form-container select,
.form-container option {
  font-size: 1.6rem;
}

.form-container select,
.form-container input {
  border-radius: 6px;
  border: 1px solid rgba(153, 153, 153, 0.5);
  padding: 1.2rem 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.form-container input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
}

.form-container .btn {
  margin-top: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 3.2rem 6.4rem 6.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.qr-header {
  font-size: 3.6rem;
  line-height: 1.2;
}

.qr-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  width: 35rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px,
    rgb(51, 51, 51, 0.1) 0px 0px 0px 1px;
  /* border: 2px solid #3b5bdb; */
}

.qr-img {
  height: 30rem;
  transition: all 0.3s;
}

.qr-description {
  font-size: 2rem;
  font-weight: 500;
  color: #777;
}
